!behavior.min.*
!style.min.*
*.egg-info
*.lock
*.log
*.min.*
*.mo
*.pdf
*.pyc
*.pyo
*.swp
*.xlsx
*~
.*project
.Trash-1000
.installed.cfg
.mr.developer.cfg
env*
etc/logrotate.conf
etc/supervisor.conf
etc/
.npm/
.python-version
.svn/
.vscode/
/.settings/
/include/
/lib/
/local
/pip-selfcheck.json
/share/
Extensions/
bin/
build/
buildout.cfg
develop-eggs/
downloads/
eggs/
local.cfg
node_modules/
parts/
products/
screenlog.*
src/
var/
